body {
    background-image: url('https://storage.googleapis.com/animalespata/images/fondo2.png');
    background-position: left;
    background-size: 40% auto; 
    background-position-y: 5%; 
}

.rectangulo {
    background-color: rgba(115, 82, 144, 0.7);
    padding: 20px; 
    border-radius: 10px;
    
}

.container {
    align-items: center; 
}

.title{
    font-weight: bold;
    text-align: center;
    color: white;
}
.writer{
    font-weight: bold;
    text-align: center;
    color: white;
}
.Cuerpo{
    text-align: justify;
    font-size: 20px; 
    color: white;

}



