{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest+Guy" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Pata Rescata</title>
  </head>
  <body>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="{% static '\images\Logo_pata_blanco.png' %}" alt="Logo de la página">
                </div>
                <div class="footer-info">
                    <p>&copy; 2023 Tu Página de Adopción de Animales</p>
                    <p>Dirección: Calle de los Animales Felices, Santiago de Chile</p>
                    <p>Teléfono: (123) 456-7890</p>
                    <p>Email: info@tuadopciondeanimales.com</p>
                </div>
                <div class="footer-social">
                    <a href="https://www.facebook.com/#">
                        <i class="bi bi-facebook"></i>
                    </a>
                    
                    <a href="https://twitter.com/#">
                        <i class="bi bi-twitter"></i>
                    </a>
                    
                    <a href="https://www.instagram.com/#/">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>