{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nuevamascota.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Passion One' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Luckiest+Guy">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Pata Rescata</title>
  </head>
  <body>
    <nav>
      {% include 'navegador.html' %}
    </nav>
    <div class="row">
      <div class="col">
        <div class="card p-3">
          <h5 class="card-title p-2 m-1"  style="font-family:'Passion One'; background-color: #FCBF49; text-align: center; font-size: x-large; ">Agregar Nueva Mascota</h5>
          <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="box p-4 m-2" style="font-family:'Passion One'; background-color: #FCBF49; font-size: x-large;">
              {{ form2.as_p }}
            </div>
            <div class="row text-center">
              <div class="col-md-6">
                <button type="submit" class="btn btn-lg btn-success px-5 m-2">Agregar Mascota</button><br>
              </div>
              <div class="col-md-6">
                <a href="{% url 'buscar_animales' %}" class="btn btn-lg btn-warning btn-outline-dark px-5 m-2">Buscar Animales</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer>
      {% include 'footer.html' %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
