

nav .navbar{
    width: 100%;
    position:static;
    top: 0;
    /*z-index: 100;  Asegura que el navegador esté por encima de otros elementos */
    background-color: #582a77;
    
}


a.navbar-brand {
    font-family: 'Passion One', sans-serif;
    font-size: 30px;
    color: white;
}

